/* :root {
    --primery-text-color: #434455;
    --text-logo-base-btn-hero: #4D5AE5;
    --text-logo-header:#2E2F42;
    --clr-base: #FFFFFF;
    --clr-logoftr-base-team: #F4F4FD;
    --text-footer: #E7E9FC;
    --border-header-cards: #E7E9FC;
    --clr-txt-hdr-list: #2E2F42;
    --clr-txt-address: #434455;
    --hero-color: #FFFFFF;
    --clr-btn-hero-h-f:  #404BBF;
    --clr-base-hero-ftr: #2E2F42;
    --clr-txt-sec-title: #2E2F42;
    --clr-header-h-f: #404BBF;
    --filters-btn-base: #F4F4FD;
    --filters-btn-border: #E7E9FC;
    --border-customer: #8E8F99;
    --border-features: #F4F4FD;
    --border-card: #F4F4FD;
    --succsess-green: #31D0AA;
    --success-customer: #404BBF;
    --success-team: #404BBF;
    --back-team-social: #4D5AE5;
    --text-overlay: #F4F4FD;
    --back-overlay: #4D5AE5;
    --clr-input-user: #8E8F99;
    --time-transition: 250ms;
}
html {
    box-sizing: border-box; 
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--primery-text-color);
}
.list-ul {
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
}
@media screen and (min-width: 480px) {
    .container {
      width: 480px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      width: 1158px;
    }
  }
.page-header {
    position: relative;
    background-color: var(--clr-base);
    border-bottom: 1px solid var(--border-header-cards); 
}
.page-header > .container {
  display: flex;
}
.logo {
  display: inline-block;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.333;
  padding: 24px 0;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-logo-base-btn-hero);
}
.logo-header {
  color: var(--text-logo-header);
}
.menu-button {
  min-height: 24px;
  min-width: px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  
  @media screen and (min-width:768px) {
    display: none;
  }
}
/* .menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.nenu-container {
  background-color: var(--clr-base);
  padding: 0;
  text-align: center;
  font-size: inherit;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

  &.is-open {
    display: block;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
/* Стили для таблетки ???*/





 */
